#header_title{
  padding-left: 15px;
  font-size: xx-large;
  font-weight: bold;
  vertical-align: bottom;
  height: 80px
}

#header_menu{
  vertical-align: bottom
}

.ta_rt{
  text-align: right;
}

.ta_c{
  text-align: center;
}

.serch_form{
  width: 569px;
  margin: 0 auto;
  /* padding: 10px 40px;
  margin-bottom: 10px; */
}
.submit_form{
  text-align:right;
  width: 400px;
  margin: 0 auto;
  padding-top: 5px;
}
.submit_form form{
  display:inline-flex;
}

.submit2_form{
  text-align:right;
  width: 569px;
  margin: 0 auto;
  padding-top: 5px;
}
.button_form{
  margin-right: 4px;
}

/*
  全ページで共通のテーブルの装飾
*/
.main_tbl{
  margin: 0 auto;
  width: 569px;
}

#table_bo,#table_bo td,#table_bo th{
  border-collapse: collapse;
  border:1px solid #333;
}

#table_bo td,#table_bo th {
  padding:3px 5px;
}

#table_bo th {
  background-color: silver;
}

.deteil_th{
  padding-left: 5px;
  width: 120px;
}

.deteil_table{
  margin: 0 auto;
  width: 400px;
}

.id_row{
  text-align: right;
}

.result_span{
  width: 569px;
  margin: 0 auto;
}

.namae_input{
  padding-bottom:5px;
}
